In [1]:
%load_ext sql

Found pyproject.toml from '/Users/anirudhiyer/Desktop/internship/jupysql'

In [2]:
%sql sqlite://

In [3]:
%%sql
CREATE TABLE languages (name, rating, change);
INSERT INTO languages VALUES ('Python', 14.44, 2.48);
INSERT INTO languages VALUES ('C', 13.13, 1.50);
INSERT INTO languages VALUES ('Java', 11.59, 0.40);
INSERT INTO languages VALUES ('C++', 10.00, 1.98);

Running query in 'sqlite://'

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

In [4]:
%config SqlMagic

SqlMagic(Magics, Configurable) options
------------------------------------
SqlMagic.autocommit=<Bool>
    Set autocommit mode
    Current: True
SqlMagic.autolimit=<Int>
    Automatically limit the size of the returned result sets
    Current: 0
SqlMagic.autopandas=<Bool>
    Return Pandas DataFrames instead of regular result sets
    Current: False
SqlMagic.autopolars=<Bool>
    Return Polars DataFrames instead of regular result sets
    Current: False
SqlMagic.column_local_vars=<Bool>
    Return data into local variables from column names
    Current: False
SqlMagic.displaycon=<Bool>
    Show connection string after execution
    Current: True
SqlMagic.displaylimit=<Int>
    Automatically limit the number of rows displayed (full result set is still
    stored)
    Current: 10
SqlMagic.dsn_filename=<Unicode>
    Path to DSN file. When the first argument is of the form [section], a
    sqlalchemy connection string is formed from the matching section in the DSN
    file.
    Current: 'odbc.ini'
SqlMagic.feedback=<Bool>
    Print number of rows affected by DML
    Current: True
SqlMagic.named_parameters=<Bool>
    Allow named parameters in queries (i.e., 'SELECT * FROM foo WHERE bar =
    :bar')
    Current: False
SqlMagic.polars_dataframe_kwargs=<key-1>=<value-1>...
    Polars DataFrame constructor keyword arguments(e.g. infer_schema_length,
    nan_to_null, schema_overrides, etc)
    Current: {}
SqlMagic.short_errors=<Bool>
    Don't display the full traceback on SQL Programming Error
    Current: True
SqlMagic.style=<Unicode>
    Set the table printing style to any of prettytable's defined styles
    (currently DEFAULT, MSWORD_FRIENDLY, PLAIN_COLUMNS, RANDOM, SINGLE_BORDER,
    DOUBLE_BORDER, MARKDOWN )
    Current: 'DEFAULT'

In [5]:
%config SqlMagic.feedback = False

In [6]:
%config SqlMagic.displaycon = True
%sql SELECT * FROM languages LIMIT 2

Running query in 'sqlite://'

+--------+--------+--------+
|  name  | rating | change |
+--------+--------+--------+
| Python | 14.44  |  2.48  |
|   C    | 13.13  |  1.5   |
+--------+--------+--------+

In [7]:
%config SqlMagic.displaycon = False
%sql SELECT * FROM languages LIMIT 2

+--------+--------+--------+
|  name  | rating | change |
+--------+--------+--------+
| Python | 14.44  |  2.48  |
|   C    | 13.13  |  1.5   |
+--------+--------+--------+

In [8]:
%config SqlMagic.autolimit = 0
%sql SELECT * FROM languages

+--------+--------+--------+
|  name  | rating | change |
+--------+--------+--------+
| Python | 14.44  |  2.48  |
|   C    | 13.13  |  1.5   |
|  Java  | 11.59  |  0.4   |
|  C++   |  10.0  |  1.98  |
+--------+--------+--------+

In [9]:
%config SqlMagic.autolimit = 1
%sql SELECT * FROM languages

+--------+--------+--------+
|  name  | rating | change |
+--------+--------+--------+
| Python | 14.44  |  2.48  |
+--------+--------+--------+

In [10]:
%config SqlMagic.autolimit = 0

In [21]:
%config SqlMagic.displaylimit = None
%sql SELECT * FROM languages

displaylimit: Value None will be treated as 0 (no limit)

+------+--------+--------+
| name | rating | change |
+------+--------+--------+
+------+--------+--------+

In [22]:
%config SqlMagic.displaylimit = 1
res = %sql SELECT * FROM languages
res

+--------+--------+--------+
|  name  | rating | change |
+--------+--------+--------+
| Python | 14.44  |  2.48  |
+--------+--------+--------+

In [23]:
len(res)

4

In [19]:
%config SqlMagic.column_local_vars = False
%sql SELECT * FROM languages LIMIT 2

+--------+--------+--------+
|  name  | rating | change |
+--------+--------+--------+
| Python | 14.44  |  2.48  |
+--------+--------+--------+

In [20]:
print(name)

('Python', 'C', 'Java', 'C++')

In [24]:
print(name)
print(rating)

('Python', 'C', 'Java', 'C++')
(14.44, 13.13, 11.59, 10.0)