# Using persist-snippet for the first time

In [1]:
%load_ext sql
%sql sqlite://

In [2]:
%%sql duckdb://
CREATE TABLE people (name varchar(50), number int, country varchar(50));
INSERT INTO people VALUES ('joe', 82, 'usa');
INSERT INTO people VALUES ('paula', 93, 'uk');
INSERT INTO people VALUES ('sam', 77, 'canada');
INSERT INTO people VALUES ('emily', 65, 'usa');
INSERT INTO people VALUES ('michael', 89, 'usa');
INSERT INTO people VALUES ('sarah', 81, 'uk');
INSERT INTO people VALUES ('james', 76, 'usa');
INSERT INTO people VALUES ('angela', 88, 'usa');
INSERT INTO people VALUES ('robert', 82, 'usa');
INSERT INTO people VALUES ('lisa', 92, 'uk');
INSERT INTO people VALUES ('mark', 77, 'usa');
INSERT INTO people VALUES ('jennifer', 68, 'australia');

+-------+
| Count |
+-------+
|   1   |
+-------+

In [3]:
%config SqlMagic.persist_snippets = True

In [4]:
%%sql --save citizen
select * from people where country = 'usa'

Running query in 'duckdb://'

Manual editing of .sql files may not be reflected when reopening the notebook. Please edit snippets directly in the notebook to ensure consistency.

+---------+--------+---------+
|   name  | number | country |
+---------+--------+---------+
|   joe   |   82   |   usa   |
|  emily  |   65   |   usa   |
| michael |   89   |   usa   |
|  james  |   76   |   usa   |
|  angela |   88   |   usa   |
|  robert |   82   |   usa   |
|   mark  |   77   |   usa   |
+---------+--------+---------+

In [5]:
%%sql --save citizen_1
select * from citizen where number = 82

Generating CTE with stored snippets : 'citizen'

Running query in 'duckdb://'

Manual editing of .sql files may not be reflected when reopening the notebook. Please edit snippets directly in the notebook to ensure consistency.

+--------+--------+---------+
|  name  | number | country |
+--------+--------+---------+
|  joe   |   82   |   usa   |
| robert |   82   |   usa   |
+--------+--------+---------+

In [6]:
%sqlcmd snippets citizen

"select * from people where country = 'usa'"

In [7]:
%sqlcmd snippets citizen

"select * from people where country = 'usa'"

In [8]:
%sqlcmd snippets

+-----------------+
| Stored snippets |
+-----------------+
|     citizen     |
|    citizen_1    |
+-----------------+

# Using persist-snippet when the jupysql-snippets directory already present
## restart the kernel

In [1]:
%load_ext sql
%sql sqlite://

In [2]:
%%sql duckdb://
CREATE TABLE people (name varchar(50), number int, country varchar(50));
INSERT INTO people VALUES ('joe', 82, 'usa');
INSERT INTO people VALUES ('paula', 93, 'uk');
INSERT INTO people VALUES ('sam', 77, 'canada');
INSERT INTO people VALUES ('emily', 65, 'usa');
INSERT INTO people VALUES ('michael', 89, 'usa');
INSERT INTO people VALUES ('sarah', 81, 'uk');
INSERT INTO people VALUES ('james', 76, 'usa');
INSERT INTO people VALUES ('angela', 88, 'usa');
INSERT INTO people VALUES ('robert', 82, 'usa');
INSERT INTO people VALUES ('lisa', 92, 'uk');
INSERT INTO people VALUES ('mark', 77, 'usa');
INSERT INTO people VALUES ('jennifer', 68, 'australia');

+-------+
| Count |
+-------+
|   1   |
+-------+

In [3]:
%sqlcmd snippets

+-----------------+
| Stored snippets |
+-----------------+
|     citizen     |
|    citizen_1    |
+-----------------+

In [4]:
%%sql
SELECT * FROM citizen

Generating CTE with stored snippets : 'citizen'

Running query in 'duckdb://'

+---------+--------+---------+
|   name  | number | country |
+---------+--------+---------+
|   joe   |   82   |   usa   |
|  emily  |   65   |   usa   |
| michael |   89   |   usa   |
|  james  |   76   |   usa   |
|  angela |   88   |   usa   |
|  robert |   82   |   usa   |
|   mark  |   77   |   usa   |
+---------+--------+---------+

In [5]:
%%sql
SELECT * FROM citizen_1

Generating CTE with stored snippets : 'citizen_1'

Running query in 'duckdb://'

+--------+--------+---------+
|  name  | number | country |
+--------+--------+---------+
|  joe   |   82   |   usa   |
| robert |   82   |   usa   |
+--------+--------+---------+

In [6]:
%sqlcmd snippets citizen

"select * from people where country = 'usa'"

In [7]:
%sqlcmd snippets citizen

"select * from people where country = 'usa'"