In [1]:
%load_ext sql

In [ ]:
%%sql sqlite://

CREATE TABLE people (
    name varchar(50),
    age varchar(50),
    number int,
    country varchar(50),
    gender_1 varchar(50),
    gender_2 varchar(50),
    bul boolean
);

INSERT INTO people VALUES ('joe', '48', 82, 'usa', '0', 'male', True);
INSERT INTO people VALUES ('paula', '50', 93, 'uk', '1', 'female', True);

1 rows affected.

1 rows affected.

In [ ]:
%sqlcmd profile -t people