In [1]:
%load_ext sql

In [2]:
%sql duckdb://
from pathlib import Path
from urllib.request import urlretrieve

if not Path("penguins.csv").is_file():
    urlretrieve(
        "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv",
        "penguins.csv",
    )

In [3]:
%sqlcmd profile --table "penguins.csv"

+--------+---------+--------+----------------+---------------+-------------------+-------------+------+
|        | species | island | bill_length_mm | bill_depth_mm | flipper_length_mm | body_mass_g | sex  |
+--------+---------+--------+----------------+---------------+-------------------+-------------+------+
| count  |   344   |  344   |      342       |      342      |        342        |     342     | 333  |
| unique |    3    |   3    |      164       |       80      |         55        |      94     |  2   |
|  top   |  Adelie | Biscoe |      nan       |      nan      |        nan        |     nan     | MALE |
|  freq  |   152   |  168   |      nan       |      nan      |        nan        |     nan     | 168  |
|  mean  |   nan   |  nan   |    43.9219     |    17.1512    |      200.9152     |  4201.7544  | nan  |
|  std   |   nan   |  nan   |     5.4516     |     1.9719    |      14.0411      |   800.7812  | nan  |
|  min   |   nan   |  nan   |      32.1      |      13.1     |        172        |     2700    | nan  |
|  25%   |   nan   |  nan   |    39.2000     |    15.6000    |      190.0000     |  3550.0000  | nan  |
|  50%   |   nan   |  nan   |    44.4000     |    17.3000    |      197.0000     |  4050.0000  | nan  |
|  75%   |   nan   |  nan   |    48.5000     |    18.7000    |      213.0000     |  4750.0000  | nan  |
|  max   |   nan   |  nan   |      59.6      |      21.5     |        231        |     6300    | nan  |
+--------+---------+--------+----------------+---------------+-------------------+-------------+------+

In [4]:
%sqlcmd profile --table "churn.csv"

+--------+------------+--------+---------------+---------+------------+---------+--------------+---------------+-----------------+----------------+--------------+------------------+-------------+-------------+-----------------+----------------+------------------+------------------+----------------+--------------+-------+
|        | customerID | gender | SeniorCitizen | Partner | Dependents |  tenure | PhoneService | MultipleLines | InternetService | OnlineSecurity | OnlineBackup | DeviceProtection | TechSupport | StreamingTV | StreamingMovies |    Contract    | PaperlessBilling |  PaymentMethod   | MonthlyCharges | TotalCharges | Churn |
+--------+------------+--------+---------------+---------+------------+---------+--------------+---------------+-----------------+----------------+--------------+------------------+-------------+-------------+-----------------+----------------+------------------+------------------+----------------+--------------+-------+
| count  |    7043    |  7043  |      7043     |   7043  |    7043    |   7043  |     7043     |      7043     |       7043      |      7043      |     7043     |       7043       |     7043    |     7043    |       7043      |      7043      |       7043       |       7043       |      7043      |     7043     |  7043 |
| unique |    7043    |   2    |       2       |    2    |     2      |    73   |      2       |       3       |        3        |       3        |      3       |        3         |      3      |      3      |        3        |       3        |        2         |        4         |      1585      |     6531     |   2   |
|  top   | 7590-VHVEG |  Male  |      nan      |    No   |     No     |   nan   |     Yes      |       No      |   Fiber optic   |       No       |      No      |        No        |      No     |      No     |        No       | Month-to-month |       Yes        | Electronic check |      nan       |     nan      |   No  |
|  freq  |     1      |  3555  |      nan      |   3641  |    4933    |   nan   |     6361     |      3390     |       3096      |      3498      |     3088     |       3095       |     3473    |     2810    |       2785      |      3875      |       4171       |       2365       |      nan       |     nan      |  5174 |
|  mean  |    nan     |  nan   |     0.1621    |   nan   |    nan     | 32.3711 |     nan      |      nan      |       nan       |      nan       |     nan      |       nan        |     nan     |     nan     |       nan       |      nan       |       nan        |       nan        |    64.7617     |     nan      |  nan  |
|  std   |    nan     |  nan   |     0.3686    |   nan   |    nan     | 24.5577 |     nan      |      nan      |       nan       |      nan       |     nan      |       nan        |     nan     |     nan     |       nan       |      nan       |       nan        |       nan        |    30.0879     |     nan      |  nan  |
|  min   |    nan     |  nan   |       0       |   nan   |    nan     |    0    |     nan      |      nan      |       nan       |      nan       |     nan      |       nan        |     nan     |     nan     |       nan       |      nan       |       nan        |       nan        |     18.25      |              |  nan  |
|  25%   |    nan     |  nan   |     0.0000    |   nan   |    nan     |  9.0000 |     nan      |      nan      |       nan       |      nan       |     nan      |       nan        |     nan     |     nan     |       nan       |      nan       |       nan        |       nan        |    35.5000     |     nan      |  nan  |
|  50%   |    nan     |  nan   |     0.0000    |   nan   |    nan     | 29.0000 |     nan      |      nan      |       nan       |      nan       |     nan      |       nan        |     nan     |     nan     |       nan       |      nan       |       nan        |       nan        |    70.3500     |     nan      |  nan  |
|  75%   |    nan     |  nan   |     0.0000    |   nan   |    nan     | 55.0000 |     nan      |      nan      |       nan       |      nan       |     nan      |       nan        |     nan     |     nan     |       nan       |      nan       |       nan        |       nan        |    89.8500     |     nan      |  nan  |
|  max   |    nan     |  nan   |       1       |   nan   |    nan     |    72   |     nan      |      nan      |       nan       |      nan       |     nan      |       nan        |     nan     |     nan     |       nan       |      nan       |       nan        |       nan        |     118.75     |              |  nan  |
+--------+------------+--------+---------------+---------+------------+---------+--------------+---------------+-----------------+----------------+--------------+------------------+-------------+-------------+-----------------+----------------+------------------+------------------+----------------+--------------+-------+