In [1]:
%load_ext sql
%sql duckdb://

In [2]:
%sqlcmd profile --table "churn.csv"

+--------+------------+--------+---------------+---------+------------+---------+--------------+---------------+-----------------+----------------+--------------+------------------+-------------+-------------+-----------------+----------------+------------------+------------------+----------------+--------------+-------+
|        | customerID | gender | SeniorCitizen | Partner | Dependents |  tenure | PhoneService | MultipleLines | InternetService | OnlineSecurity | OnlineBackup | DeviceProtection | TechSupport | StreamingTV | StreamingMovies |    Contract    | PaperlessBilling |  PaymentMethod   | MonthlyCharges | TotalCharges | Churn |
+--------+------------+--------+---------------+---------+------------+---------+--------------+---------------+-----------------+----------------+--------------+------------------+-------------+-------------+-----------------+----------------+------------------+------------------+----------------+--------------+-------+
| count  |    7043    |  7043  |      7043     |   7043  |    7043    |   7043  |     7043     |      7043     |       7043      |      7043      |     7043     |       7043       |     7043    |     7043    |       7043      |      7043      |       7043       |       7043       |      7043      |     7043     |  7043 |
| unique |    7043    |   2    |       2       |    2    |     2      |    73   |      2       |       3       |        3        |       3        |      3       |        3         |      3      |      3      |        3        |       3        |        2         |        4         |      1585      |     6531     |   2   |
|  top   | 7590-VHVEG |  Male  |      nan      |    No   |     No     |   nan   |     Yes      |       No      |   Fiber optic   |       No       |      No      |        No        |      No     |      No     |        No       | Month-to-month |       Yes        | Electronic check |      nan       |     nan      |   No  |
|  freq  |     1      |  3555  |      nan      |   3641  |    4933    |   nan   |     6361     |      3390     |       3096      |      3498      |     3088     |       3095       |     3473    |     2810    |       2785      |      3875      |       4171       |       2365       |      nan       |     nan      |  5174 |
|  mean  |    nan     |  nan   |     0.1621    |   nan   |    nan     | 32.3711 |     nan      |      nan      |       nan       |      nan       |     nan      |       nan        |     nan     |     nan     |       nan       |      nan       |       nan        |       nan        |    64.7617     |     nan      |  nan  |
|  std   |    nan     |  nan   |     0.3686    |   nan   |    nan     | 24.5577 |     nan      |      nan      |       nan       |      nan       |     nan      |       nan        |     nan     |     nan     |       nan       |      nan       |       nan        |       nan        |    30.0879     |     nan      |  nan  |
|  min   |    nan     |  nan   |       0       |   nan   |    nan     |    0    |     nan      |      nan      |       nan       |      nan       |     nan      |       nan        |     nan     |     nan     |       nan       |      nan       |       nan        |       nan        |     18.25      |              |  nan  |
|  25%   |    nan     |  nan   |     0.0000    |   nan   |    nan     |  9.0000 |     nan      |      nan      |       nan       |      nan       |     nan      |       nan        |     nan     |     nan     |       nan       |      nan       |       nan        |       nan        |    35.5000     |     nan      |  nan  |
|  50%   |    nan     |  nan   |     0.0000    |   nan   |    nan     | 29.0000 |     nan      |      nan      |       nan       |      nan       |     nan      |       nan        |     nan     |     nan     |       nan       |      nan       |       nan        |       nan        |    70.3500     |     nan      |  nan  |
|  75%   |    nan     |  nan   |     0.0000    |   nan   |    nan     | 55.0000 |     nan      |      nan      |       nan       |      nan       |     nan      |       nan        |     nan     |     nan     |       nan       |      nan       |       nan        |       nan        |    89.8500     |     nan      |  nan  |
|  max   |    nan     |  nan   |       1       |   nan   |    nan     |    72   |     nan      |      nan      |       nan       |      nan       |     nan      |       nan        |     nan     |     nan     |       nan       |      nan       |       nan        |       nan        |     118.75     |              |  nan  |
+--------+------------+--------+---------------+---------+------------+---------+--------------+---------------+-----------------+----------------+--------------+------------------+-------------+-------------+-----------------+----------------+------------------+------------------+----------------+--------------+-------+

In [3]:
from pathlib import Path
from urllib.request import urlretrieve

url = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet"

if not Path("yellow_tripdata_2021-01.parquet").is_file():
    urlretrieve(url, "yellow_tripdata_2021-01.parquet")

In [4]:
from pathlib import Path
from urllib.request import urlretrieve

url = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet"

if not Path("yellow_tripdata_2021-01.parquet").is_file():
    urlretrieve(url, "yellow_tripdata_2021-01.parquet")

In [3]:
%sqlcmd profile --table "yellow_tripdata_2021-01.parquet"

+--------+----------+----------------------+-----------------------+-----------------+---------------+------------+--------------------+--------------+--------------+--------------+-------------+---------+---------+------------+--------------+-----------------------+--------------+----------------------+-------------+
|        | VendorID | tpep_pickup_datetime | tpep_dropoff_datetime | passenger_count | trip_distance | RatecodeID | store_and_fwd_flag | PULocationID | DOLocationID | payment_type | fare_amount |  extra  | mta_tax | tip_amount | tolls_amount | improvement_surcharge | total_amount | congestion_surcharge | airport_fee |
+--------+----------+----------------------+-----------------------+-----------------+---------------+------------+--------------------+--------------+--------------+--------------+-------------+---------+---------+------------+--------------+-----------------------+--------------+----------------------+-------------+
| count  | 1369769  |       1369769        |        1369769        |     1271417     |    1369769    |  1271417   |      1271417       |   1369769    |   1369769    |   1369769    |   1369769   | 1369769 | 1369769 |  1369769   |   1369769    |        1369769        |   1369769    |       1271417        |      5      |
| unique |    3     |        939020        |         935992        |        9        |      3787     |     7      |         2          |     258      |     260      |      5       |     6017    |    91   |    3    |    2155    |     307      |           3           |     8321     |          5           |      1      |
|  top   |   nan    | 2021-01-14 13:52:00  |  2021-01-09 11:01:04  |       nan       |      nan      |    nan     |         N          |     nan      |     nan      |     nan      |     nan     |   nan   |   nan   |    nan     |     nan      |          nan          |     nan      |         nan          |     0.0     |
|  freq  |   nan    |          13          |           21          |       nan       |      nan      |    nan     |      1252433       |     nan      |     nan      |     nan      |     nan     |   nan   |   nan   |    nan     |     nan      |          nan          |     nan      |         nan          |      5      |
|  mean  |  1.7217  |         nan          |          nan          |      1.4115     |     4.6320    |   1.0351   |        nan         |   165.2474   |   161.4957   |    1.1886    |   12.0966   |  0.9705 |  0.4930 |   1.9181   |    0.2477    |         0.2969        |   17.4744    |        2.2390        |     nan     |
|  std   |  0.5925  |         nan          |          nan          |      1.0598     |    393.9035   |   0.5995   |        nan         |   67.8385    |   72.1079    |    0.5777    |   12.9134   |  1.2313 |  0.0763 |   2.5972   |    1.6728    |         0.0422        |   14.6934    |        0.7989        |     nan     |
|  min   |    1     |         nan          |          nan          |       0.0       |      0.0      |    1.0     |        nan         |      1       |      1       |      0       |    -490.0   |   -5.5  |   -0.5  |   -100.0   |    -31.12    |          -0.3         |    -492.8    |         -2.5         |     nan     |
|  25%   |  1.0000  |         nan          |          nan          |      1.0000     |     1.0000    |   1.0000   |        nan         |   124.0000   |   107.0000   |    1.0000    |    6.0000   |  0.0000 |  0.5000 |   0.0000   |    0.0000    |         0.3000        |   10.8000    |        2.5000        |     nan     |
|  50%   |  2.0000  |         nan          |          nan          |      1.0000     |     1.7000    |   1.0000   |        nan         |   162.0000   |   162.0000   |    1.0000    |    8.5000   |  0.0000 |  0.5000 |   1.8600   |    0.0000    |         0.3000        |   13.8000    |        2.5000        |     nan     |
|  75%   |  2.0000  |         nan          |          nan          |      1.0000     |     3.0200    |   1.0000   |        nan         |   236.0000   |   236.0000   |    1.0000    |   13.5000   |  2.5000 |  0.5000 |   2.7500   |    0.0000    |         0.3000        |   19.1200    |        2.5000        |     nan     |
|  max   |    6     |         nan          |          nan          |       8.0       |   263163.28   |    99.0    |        nan         |     265      |     265      |      4       |    6960.5   |   8.25  |   0.5   |  1140.44   |    811.75    |          0.3          |   7661.28    |         3.0          |     nan     |
+--------+----------+----------------------+-----------------------+-----------------+---------------+------------+--------------------+--------------+--------------+--------------+-------------+---------+---------+------------+--------------+-----------------------+--------------+----------------------+-------------+

In [2]:
%%sql sqlite://
CREATE TABLE numbers (rating float, price  varchar(50) , number int, word varchar(50));
INSERT INTO numbers VALUES (14.44, '2.48', 82, 'a');
INSERT INTO numbers VALUES (13.13, '1.50', 93, 'b');
INSERT INTO numbers VALUES (12.59, '0.20', 98, 'a');
INSERT INTO numbers VALUES (11.54, '0.41', 89, 'a');
INSERT INTO numbers VALUES (10.532, '0.1', 88, 'c');
INSERT INTO numbers VALUES (11.5, '0.2', 84, '   ');
INSERT INTO numbers VALUES (11.1, '0.3', 90, 'a');
INSERT INTO numbers VALUES (12.9, '0.31', 86, '');

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

In [3]:
%sqlcmd profile -t numbers

+--------+---------+--------+---------+------+
|        |  rating | price  |  number | word |
+--------+---------+--------+---------+------+
| count  |    8    |   8    |    8    |  8   |
| unique |    8    |   8    |    8    |  5   |
|  top   |   nan   |  nan   |   nan   |  a   |
|  freq  |   nan   |  nan   |   nan   |  4   |
|  mean  | 12.2165 | 0.6875 | 88.7500 | nan  |
|  min   |  10.532 |        |    82   | nan  |
|  max   |  14.44  |        |    98   | nan  |
+--------+---------+--------+---------+------+