In [1]:
%load_ext sql

<class 'sql.store.SQLStore'>

In [2]:
%sql sqlite://

In [3]:
%%sql
CREATE TABLE languages (name, rating, change);
INSERT INTO languages VALUES ('Python', 14.44, 2.48);
INSERT INTO languages VALUES ('C', 13.13, 1.50);
INSERT INTO languages VALUES ('Java', 11.59, 0.40);
INSERT INTO languages VALUES ('C++', 10.00, 1.98);

Running query in 'sqlite://'

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

In [4]:
%config SqlMagic.persist_snippets = True

In [5]:
%%sql --save rated_high
select * from languages where rating > 10.5

Running query in 'sqlite://'

+--------+--------+--------+
|  name  | rating | change |
+--------+--------+--------+
| Python | 14.44  |  2.48  |
|   C    | 13.13  |  1.5   |
|  Java  | 11.59  |  0.4   |
+--------+--------+--------+

In [4]:
%sqlcmd snippets

+-----------------+
| Stored snippets |
+-----------------+
|    rated_high   |
+-----------------+